<h1>Securities</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!securities"><em>Loading...</em></p>

<table class='table' *ngIf="securities">
    <thead>
        <tr>
            <th>Asset</th>
            <th>Exchange</th>
            <th>Country</th>
            <th>Ticker</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let security of securities">
            <td>{{ security.title }}</td>
            <td>{{ security.exchange }}</td>
            <td>{{ security.country }}</td>
            <td>{{ security.ticker }}</td>
        </tr>
    </tbody>
</table>
