<div class="page-header">
    <h1>Assets</h1>      
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">.col-md-4</div>
		<div class="col-md-4">.col-md-4</div>
		<div class="col-md-4">.col-md-4</div>
	</div>
	<div class="row">
		<div class="col-md-4" style="background-color:lavender;">.col-md-4</div>
		<div class="col-md-2" style="background-color:lavenderblush;">.col-md-2</div>
		<div class="col-md-2" style="background-color:lavender;">.col-md-2</div>
		<div class="col-md-2" style="background-color:lavenderblush;">.col-md-2</div>
		<div class="col-md-2" style="background-color:lavender;">.col-md-2</div>
		<div class="col-md-2" style="background-color:lavenderblush;">.col-md-2</div>
	</div>
</div>